
body{

  background-image: url('/Assets/bg2.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  min-width:705px;
  height:auto;
  }
  
  .nav-bar{ 
     margin-bottom: 20px;
     background-color:rgba(255, 255, 255, 0);
     
     padding-bottom: 0;
  }
  
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10%;
    overflow: hidden;
    
    }
  
    .nav-bar li{
  
      
      display: inline;
      float: right;
  
  }  
  
  
  .nav-bar li a {

    display: block;
    color: rgb(7, 6, 6);
    font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding:10px 10px;
    margin:10px ;
  
    }
  
    .title{
  
      float: left;
      border-style:double;
      padding-left: 5px;
      margin-left:10px;
      color: white;
      font-size: 16px;
      font-family: 'Roboto Slab';
    }
  
  .nav-bar li a:hover {
      background-color: #EDBAAB;
      color: white;
      border-radius: 50px;
      font-weight:normal;
  
    }
    
  .container-main2-img{
  
    margin:20px ;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 100%;
    border:1px;
    border-color:   white;
    
  }
  .container-main2{
  
  border-style: double;
  
  }
  .container-main2-img img{
  
   
    height: auto;
    width: 300px;
    overflow: hidden;
  }
    
  
  
  .container-main2{
  
     display:flex;
     margin:20px;
     flex-direction: row;
     flex-wrap: wrap;
  }    
    
  
  
  .container-main{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: #e3beed8e;
      margin-bottom:20px;
  }
  
  .container-main div{
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif Slab;
      font-size: 36px;
    
  
  }
  
  .not-wrap-container-main2{
  
    display:flex;
    margin: auto;
    flex-wrap: wrap;
  
  }
  
  .links{
  
    display:flex;
    margin: auto;
    flex-wrap: wrap;
    
  }
  .links a{
  
    color:#42b4d6;
    text-decoration: none;
    font-size: 200;
    margin: 10px;
    padding: 10px;
  
  }
  
  .links a:hover{
  
    background-color:  #EDBAAB;
    text-decoration: underline;
    border-radius: 20px;
  }
  
  .links a:after{
  
    background-color:  #72d15a;
    border-radius: 20px;
  }
  
  
  
  .container-aboutme h4{
  
      color:rgb(51, 51, 51);
      fallback: serif;
      font-weight: bold;
      font-size: 36px;
      margin:20px;
  }
  
  p{
  
    font-size:18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
  }
  h5{
   
    display: inline;
    color:rgb(51, 51, 51);
    fallback: serif;
    font-weight: MEDIUM;
    margin-right: 5%;
    font-size: 20px;
    
    
  }
  .text-content{
    
    margin:20px;
  
  }
  
  .container-project .row-1{
  
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color: #e3beed1c;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
  }
  
  .container-project h4{
  
    color:rgb(51, 51, 51);
    fallback: serif;
    font-weight: bold;
    font-size: 36px;
    margin:20px;
    
    text-align: center;
  
  }
  
  .column{
  
    align-items: flex-start;
    display: inherit;
    margin: 20px;
    height: 350px;
    width: 350px;
    box-shadow:10px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #42b3d65b;
    padding: 20px;
    transition: transform .2s;
  
  }
  
  .proj-title{
  
    align-self: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  .column img{
  
    border-style: groove;
    border-color: black;
    height: 200px;
    width: 300px;
    overflow: hidden;
    margin: 20px;
  }
  .container-project .row-2{
  
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    background-color: #e3beed1c;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
  }

.column:hover{

transform: scale(1.1);
}