
body{

    background-image: url('/Assets/bg2.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .nav-bar{ 
     margin-bottom: 20px;
     background-color:rgba(255, 255, 255, 0);
     
     padding-bottom: 0;
  }
  
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10%;
    overflow: hidden;
    
    }
  
    .nav-bar li{
  
      
      display: inline;
      float: right;
  
  }  
  
  .container-table h1{

    color: white;
  }
  .nav-bar li a {

    display: block;
    color: rgb(10, 10, 10);
    font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding:10px 10px;
    margin:10px ;
  
    }
  
    .title{
  
      float: left;
      border-style:double;
      padding-left: 5px;
      margin-left:10px;
      color: white;
      font-size: 16px;
      font-family: 'Roboto Slab';
    }
  
  .nav-bar li a:hover {
      background-color: #EDBAAB;
      color: white;
      border-radius: 50px;
      font-weight:normal;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #076b66;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #089aee;
      }

      tr:nth-child(ODD) {
        background-color: #12f0e5;
      }